*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    background-image: url("../images/Background.png");
    background-repeat: repeat;
    background-color: blue;
}

.menu{
	width: 100%;
	font-family: 'Lato', sans-serif;
	top: 0;
	text-align: center;
	font-size: 2em;
}

.menu table td{
	text-align: center;
	font-size: 1.5em;
}

.headerbar{
	background-repeat: repeat-x;
	background-image: url(../images/Bar1.png);
}

.logo{
	margin: 0 5% 0 0;
	float: right;
}

.mainText a:link {
    color: #d0d0d0;
}

.mainText a:visited {
    color: #d0d0d0
}

.mainText a:hover {
    color: #606060
}

.mainText a:active {
    color: #101010
}

.mainText{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	font-family: 'Saira', sans-serif;
	font-size: 1.1em;
	color: #fcfcff;
    float: all;
}

.tablemaintext{
	width: 75%;
	text-align: top;
	vertical-align: top;
}


.sidebar{
    background-color: #282828;
    
    border: 6px solid;
    border-image: url("../images/border.png") 20% stretch;
    margin-left: 1em;
    text-align: top;
    vertical-align: top;
    margin-bottom: 120%;
}

.sidebarstuffs{
    line-height: 200%;
    border: none;
    color: #fcfcff;
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    
}

.sidebarnormal{
    padding: 0.4em;
    background-color: #202020;
    font-size: 1.6em;
}

.sidebarnormal:hover {
    background-color: #323232;
    font-size: 1.7em;
}

.sidebarnormal:active {
    background-color: #101010;
    font-size: 1.7em;
}

#back{
	color: #38bed8;
}